.squareHourTwo {
    position: absolute;
    height: 55px;
    width: 55px;
    margin-top: 15rem;
    border-radius: 30px;
    transform: translate(-269.5%, -270%) scale(.58);
    border: 1px solid black;
}

.squareHourOne {
    position: absolute;
    height: 55px;
    width: 55px;
    margin-top: 15rem;
    border-radius: 30px;
    transform: translate(-420%, -270%) scale(.58);
    border: 1px solid black;
}

@media screen and (max-width: 420px) {
    .squareHourTwo {
        width: 50px;
        margin-top: 0;
        border-radius: 30px;
        transform: translate(-180%, -60%) scale(.58);
    }

    .squareHourOne {
        width: 50px;
        margin-top: 0;
        border-radius: 30px;
        transform: translate(-283%, -60%) scale(.58);
    }
}

@media screen and (max-height: 420px) {
    .squareHourTwo {
        transform: translate(-269.5%, -88%) scale(.58);
    }
    
    .squareHourOne {
        transform: translate(-420%, -88%) scale(.58);
    }
}