.squareSecTwo {
    position: absolute;
    height: 55px;
    width: 55px;
    margin-top: 15rem;
    border-radius: 30px;
    transform: translate(418%, -270%) scale(.58);
    border: 1px solid black;
}

.squareSecOne {
    position: absolute;
    height: 55px;
    width: 55px;
    margin-top: 15rem;
    border-radius: 30px;
    transform: translate(267%, -270%) scale(.58);
    border: 1px solid black;
}

@media screen and (max-width: 575px) {
    .squareSecTwo {
        transform: translate(361%, -270%) scale(.58);
    }

    .squareSecOne {
        transform: translate(233%, -270%) scale(.58);
    }
}

@media screen and (max-width: 505px) {
    .squareSecTwo {
        transform: translate(307%, -270%) scale(.58);
    }
    .squareSecOne {
        transform: translate(190%, -270%) scale(.58);
    }
}

@media screen and (max-width: 430px) {
    .squareSecTwo {
        width: 50px;
        margin-top: 0;
        border-radius: 30px;
        transform: translate(251%, -60%) scale(.58);
    }

    .squareSecOne {
        width: 50px;
        margin-top: 0;
        border-radius: 30px;
        transform: translate(147%, -60%) scale(.58);
    }
}

@media screen and (max-height: 420px) {
    .squareSecTwo {
        transform: translate(418%, -88%) scale(.58);
    }

    .squareSecOne {
        transform: translate(267%, -88%) scale(.58);
    }
}